body {
  heigth:100%;
  background-color:#101010 ;
}

/* Hero section */
.hero-text {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  position: relative;
  color: white;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero {
  position: relative;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.urbacolors.com/photo/5a2d91fdd458f90375c5d702/download");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background-color: var(--color);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 400vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(101, 30, 45, 0.5);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(101, 30, 45, 0.2);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
/* ========================= */
/* Profile area */
.profile{
  margin: auto;
  text-align: center;

}
.avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
h1 {
font-family: georgia;
font-weight: bold;
font-size: 35px;
}
h2 {
font-family: courier;
font-size: 15px;
font-weight: lighter;
color: white;
}
ul {
  list-style: none;
}
/*About me area*/
.about {
  float: right;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  font-size: 19px;
}
h3 {
  font-size: 30px;
}
.about span{
  color: green;
}
.about a {
  font-weight: lighter;
  color: pink;
}
/*Projects area*/
.project{
  float: left;
}
h4 {
  font-size: 18px;
  color: white;
}
.project p {
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  font-size: 15px;
}
.project a {
  font-family:serif;
  font-weight: bold;
  font-size: 25px;
  color: blue;
}
/*Contacts area*/
.footer {
  position: fixed;
  bottom:0;
  width:100%;
  height:100px;
  background:rgba(27, 27, 27, 0.9);
}
.contacts {
  text-align: center;
}
.contacts p {
  font-family: bookman;
  font-size: 25px;
  color: white;
}
.contact ol {
  list-style: none;
}
.contacts li {
  display: inline-block;
  font-size: 50px;
  margin: 0 0 12px 3px;
  font-family: bookman;
  font-size: 20px;
  color: rgba(194, 194, 194, 1);
}
.contact i {
  font-size: 40px;
}
