{% extends 'base.html' %}
    {% load static %}
    
    {% block styles %}                    
        <link href="{% static 'css/home.css' %}" rel="stylesheet"/>           
    {% endblock %}                                 

    {% block content %}   
    {{block.super}}                
            <div class="container containerTab" id="about" style="width: 75.5%; display: block; text-align: center;">                               
                <p style="margin-top: 32px;">{{profile.about| safe}}</p>                                
            </div>                          
        

    <script href="{% static 'js/home.js' %}" ></script>           
    <style>                
        #about2 {
            border-bottom: solid 0.01rem #b5b5b5;
        }

        #about1 {
            font-weight: 600;
        }

    </style>    
{% endblock %}
