{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/projects.css' %}" rel="stylesheet"/>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div id="slide">
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_53f09be587f0436fb9cf642b596bb779~mv2.png);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_94229fc0a5174619a5e9c1f8c07d46f5~mv2.png);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_b630d672d6b94ba6a087c303ae166906~mv2.png);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_c514f0293be04b31aded7d324bb443de~mv2.png);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_cc288cbe9c7d49aba62b866014a9b90e~mv2.jpg);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://static.wixstatic.com/media/5498a7_f8aa618bf14c4864980af3ae5a33134f~mv2.jpg);">
                <div class="content">
                    <div class="name">LUNDEV</div>
                    <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                    <button>See more</button>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
    <script>
        document.getElementById('next').onclick = function(){
            let lists = document.querySelectorAll('.item');
            document.getElementById('slide').appendChild(lists[0]);
        }
        document.getElementById('prev').onclick = function(){
            let lists = document.querySelectorAll('.item');
            document.getElementById('slide').prepend(lists[lists.length - 1]);
        }
    </script>
    <script src="script.js"></script>
</body>
</html>
  