{% extends 'base.html' %}
    {% block content %}    
        <div class="container" style="background-color: lightblue; padding: 25px 50px; height:66vh;"> 
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6" style="padding: 10px;">
                    <form class ="navbar-form" role="search" action="{% url 'search_results' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search project" name="about">
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div class="container" style="max-height:50vh; overflow-y: scroll;">                    
                <!-- Looping through projects -->
                {% for project in projects %}
                <div class="row" style="padding:20px;">
                    <div class="col">
                        <img src="{{project.project_image.url}}" class="img-responsive" alt="Image" style="width: 100%;">
                    </div>
                    <div class="col">
                        <h1 class="heading"> {{project.title}}</h1>
                        <hr>
                        Tags: <h6 style="display: inline-block;"> {{project.tags}}</h6>
                        <hr>
                        <p> {{project.description}}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

    {% endblock %}